<div class="big-layout">
    <div class="inside-layout">
        <div class="player1">

        </div>
        <div class="space-play-chess" id="space-play-chess">
            <div class="gridLayout">
                <div (click)="OnHandleClick($event)" class="square"></div>
                <div (click)="OnHandleClick($event)" class="square"></div>
                <div (click)="OnHandleClick($event)" class="square"></div>
                <div (click)="OnHandleClick($event)" class="square"></div>
                <div (click)="OnHandleClick($event)" class="square"></div>
                <div (click)="OnHandleClick($event)" class="square"></div>
            </div>
        </div>
        <div class="player2">
            
        </div>
    </div>
</div>